<p class="lead">您好，欢迎注册 NestFans 社区</p>
<p class="lead">验证码: <%= @code %></p>
<p>发送时间: <%= @localTime %> (GMT+08:00)</p>
<p>3分钟内有效</p>
<p>如果此操作不是您本人所为，请联系 <a href="https://www.nestfans.com">NestFans 社区</a></p>
