<div class="row">
  <%= render 'menu' %>

  <div class="col-md-10">
    <div class="row justify-content-between">
      <div class="col-md-6" style="border-radius: 5px; background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);"> 
        <h3>邀请码</h3>
        <p>12345</p>
        <h3>邀请链接</h3>
        <p>https://www.nestfans.com/account/sign_up?invite=12345</p>
      </div>
      <div class="col-md-3" style="border-radius: 5px; background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);">
        <h3>累计邀请</h3>
        <p>99 人</p>
      </div>
    </div>
  </div>

</div>
